extends layout

block content
  h1= title
  p#theTitle Welcome to #{title}
  p#green this is a paragraph with green text.
  p#text Sorry it is late!
  p this should be automatically deployed by heroku