body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#text{
  background-color: blue;
  color: white;
  
}
#theTitle{
  background-color:red;
  color:white;
}
#green{
  color:green;
}